/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.anchorp{
    -fx-background-color: #474747;
}

.stackp{
    -fx-background-color: #474747;
}

.borderp{
    -fx-background-color: #474747;
}


.button{
    -fx-background-color: #474747;
}

#BLEZ{
    -fx-text-fill: #ff7979;
    -fx-border-color: #ff7979;
}
#BLEZ:hover{
    -fx-background-color: #ff7979;
    -fx-text-fill: #474747;
}

#BES{
    -fx-text-fill: #d4ff80;
    -fx-border-color: #d4ff80;
}
#BES:hover{
    -fx-background-color: #d4ff80;
    -fx-text-fill: #474747;
}

#BGAME{
    -fx-text-fill: #90f0ff;
    -fx-border-color: #90f0ff;
}
#BGAME:hover{
    -fx-background-color: #90f0ff;
    -fx-text-fill: #474747;
}

.buttonlez{
    -fx-background-color: #474747;
    -fx-text-fill: #ff7979;
}

.myDialog1{
    -fx-background-color: #e7a516;
     -fx-text-fill: #dac3c3;
}

.myDialog2{
    -fx-background-color: #4281e0;
}